.static_position{
    position: static;
    border: 2px solid lawngreen;
}

.relative_positon{
    position: relative;
    border: 2px solid rebeccapurple;
    background-color: aqua;
    margin-top: 10px;
    padding: 50px;
}

/* .absolute_positon{
    position: absolute;
    border: 2px solid blue;
    background-color: green;
    margin-top: -50px;
    padding: 50px;
} */

.new_replative{
    position: relative;
    background-color: bisque;
   
}

.fixed_positon{

    position: fixed;
    border: 2px solid red;
    background-color: yellow;
    left: 50px;
    top: 80px;
padding: 50px;
}


.text_ab{
    position: absolute;
}
