h1{
    color: aqua;
}
.herobrine{
    color: white;
}
.header{

color: #b60e0e;
border: 8px solid peru;
padding: 10px 8px;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
    padding: 8px;
  }
.hello{
  color: #6209f0;
  border: 8px solid rgb(7, 4, 1);
  padding: 10px 8px;
}
*hi{ color: black}
  