.lorem{
  color: aqua;
background-color: black;
padding: 2pc;
margin: 8px 0 0;
border: 2px solid cornflowerblue;
}
table tr td{
  border: 1px solid white;
  border-collapse: collapse;
  background-color: #96D4D4;
  padding: 8px;

}
.form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 360px;
  margin: 0 auto;
  background-color: black;
  
}

.name{
  padding-left: 12px;
  margin-bottom: 5px;
  
}
.pokemon{
  background-color: rgb(15, 15, 15);
  padding: 8px 10px;
  margin: 10px;
  border: 15px solid  aqua;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

}
.kiminonaya{
  border: 1px solid black;
  outline-style: solid;
  outline-color: red;
  outline-width: 4px;
  outline-offset: 4px solid;

}
.helloworld{
  background-color: cadetblue;
  padding: 8px 10px;
  margin: 10px;
  border: 15px solid  aqua;
}