.p-tag {
  color: aqua;
  text-align: center;
  border: 15px rgb(60, 9, 245) solid;
  border-radius: 10px;
  background-color: black;
  margin: 8px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}


/* // the below code fragment can be found in: */

.wepsite {
  color: rgb(0, 153, 255);
  text-align: center;
  border: 8px rgb(72, 9, 245) solid;
  border-radius: 10px;
  background-color: black;

  margin: 8px;
  padding: 10px;

}

.lorem {
  color: crimson;
  border: 10px coral solid;
  margin: 8px;

  padding: 10px;
  border-radius: 20px;
}

.thin {
  border: 1px solid rgb(112, 3, 253);
  outline-style: solid;
  outline-color: rgb(5, 5, 5);
  outline-width: thick;
  padding: 8px;
  margin: 7px;
  text-shadow: 3px 2px;
  background-color: #4CAF50;
}

.div1 {
  border: 10px solid rgba(160, 99, 99, 0.986);
  padding: 8px;
  background-color: aqua;
}

.h11 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
  text-shadow: 2px 2px 2px;
}

.p1 {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 1px;
  text-shadow: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fonts{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  color: crimson;
}
.sofia{
  font-family: "Sofia",sans-serif;  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Times New Roman', Times, serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 20px solid cornflowerblue;
  border-radius: 10px;
  background-color: black;
  margin: 8px;
  padding: 10px;
  font-style: italic;
  color: crimson;

  
  
  }
  
.badguyz{
  border: 20px solid rgb(237, 150, 100);
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  margin: 8px;
  padding: 10px;
  text-align: center;
  color: rgb(59, 16, 252);
  text-decoration: overline;
  text-shadow: 8px;
  
}
body{
  background-color: darkslategrey;
  padding: 5px;
  margin: 8px;
}
.link{
  color: aqua;
  
}

 
.a-tag{
  background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    margin: 8px;
}

.a-tag:hover{
  color: rgb(11, 243, 243);
}
 
.a-tag:active{
  color: rgb(58, 15, 214);
}

a:hover{
  color: white;
}
.firstone{
  color: brown;
  border: 30px  solid white;
  border-radius: 10px;
  background: rgba(160, 108, 5, 0.925);
  margin: 16px;
  padding: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  list-style-position: outside;
   list-style: square inside url(sqpurple.gif); 
}
.secondone{
  color: rgb(42, 165, 79);
    border: 30px solid white;
    border-radius: 10px;
    background: rgba(253, 81, 2, 0.397);
    margin: 16px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    list-style-position: inside;
    
}
table,tr,td {
  border: 8px solid rgb(255, 0, 0);
  border-collapse: collapse;
  padding: 8px;
  margin: 8px;
  border-style: underline none !important;
  width: 500px;
  background-color: #09ff00f8;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px; 
  text-align: center;
  
   }
  
  table {
    width: 100%;
    border-collapse: collapse; }

.table1{
  border: 8px solid rgb(20, 20, 20);
    border-collapse: collapse;
    padding: 8px;
    margin: 8px;
    border-style: underline none !important;
    width: 500px;
    background-color: #f8f3f8f8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px; 

}
td:hover{
  background-color: aliceblue;
  color: rgb(255, 0, 0);
  
}


th:hover{
  color: aqua;
}


.tableHead{
  background-color: rgb(50, 138, 130);
  padding: 8px;
  margin-left: 10px;

}
.raw:hover{
  background:gray;
  border-radius: 10px;
  margin: 8px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 8px solid rgb(20, 20, 20);
  border-collapse: collapse;
  padding: 8px;
  color: cornflowerblue;
  text-align: center;
  text-decoration: solid;
  
}
.cr:hover{
color: rgb(0, 0, 0);
border: solid 10px rgb(255, 0, 0) !important;

}
.cr{
  color: #4CAF50;
  border: solid 10px white !important;
  background-color: brown !important;
  max-width: 500px;
}
.static{
  position: static;
  border: 10px solid peachpuff;
  background-color: aqua;
}
.relative{
  position: relative;
  border: 18px solid red;
  background-color: gold; 
  margin-top:  10px;
  padding: 50px;
}  
/* .absolute{
  position: absolute;
    border: 18px solid blue;
    background-color: rgb(0, 225, 255);
    background-color: black;
    margin-top: -50px;
    padding: 50px;
} */

/* .fixed{
  position: fixed;
  border: 15px solid peru;
  background-color: aliceblue;
  bottom: 80px;
  right: 50px;
  padding: 50px; }  */

.sticky{
  position: -webkit-sticky;
  position: sticky;
  border: 10px solid gray;
  background-color: rgb(21, 255, 0);
  top: 0px;
  
}

